name: JAVA CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      
    - name: Build with Gradle Wrapper
      run: ./gradlew clean build

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: EmployeeManagementSystem
        path: build/libs/*.jar

  docker-build:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v4
    
    - name: Download Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: EmployeeManagementSystem
        path: build/libs
        
    - name: Build Docker Image
      run: docker build . -t employee-management-system:latest

